body{
    background-color: #1e1e1e;
    font-family: 'Inter', sans-serif;
}

.wrapper{
    height: 100%;
    width: 100%;
    position: fixed;
}
.loader{
    width: 300px;
    height: 100%;
    margin: auto !important;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation-duration: 0.7s;
}

.avatar{
    width: 128px;
    height: auto;
    border-radius: 256px;
    margin-bottom: 1.5rem;
}
.avatar-wrapper{
    width: 170px;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

.loaded-avatar-wrapper{
    border-radius: 5px;
    cursor: pointer;
}

.loaded-avatar-wrapper:hover{
    background-color: #ffffff33;
}

.avatar-name{
    color: white;
    opacity: 0;
}

.avatar-name::selection, .status-bar-time::selection , .terminal-header-name::selection{
    background: transparent;
}
.avatar-name::-moz-selection, .status-bar-time::-moz-selection,.terminal-header-name::selection {
    background: transparent;
}

.loader-bar-wrapper{
    width: 250px;
    height: 6px;
    border-radius: 50px;
    background-color: #434343;
    margin-top: 2rem;
    animation-delay: 0.2s;
    animation-duration: 500ms;
}
.loader-bar{
    width: 0%;
    height: 100%;
    background-color: white;
    border-radius: 50px;
    animation-delay: 0.4s;
    animation-duration: 500ms;
}

.gradient-bg{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: -webkit-linear-gradient(to left, #2F80ED, #56CCF2);
    background: linear-gradient(45deg, #00265a, #a74a22);
    transition: opacity ease-in-out 1.5s;
}

.status-bar{
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: white;
    padding: 2px 20px;
    top:-40px;
    transition: ease-in-out 1.3s;
    cursor: default;

}

.status-bar-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.status-bar-left img{
    width: auto;
    height: 20px;
    border-radius: 100px;
    margin-right: 1rem;
    display: none;
}



.menu-group{
    display: flex;
    align-content: center;
}

.menu-link-header{
    font-weight: 700;
}

.status-bar p{
    margin-bottom: 0;
    font-size: 14px;
}

.status-bar .status-bar-left p{
    margin-right: 1rem;
}

.status-bar .status-bar-right p{
    margin-left: 0.5rem;
}

.status-bar i{
    font-size: 17px;
}

.status-bar-time{
    font-size: 15px;
}

.terminal-menu-group{
    display: none;
}

.lockscreen-control{
    position: fixed;
    bottom: -60px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: ease-in-out 1.3s;
}
.lockscreen-control-button{
    display: flex;
    flex-direction: column;
    color: #ffffff8f;
    align-items: center;
    padding: 0 3rem;
    font-size: 14px;
}
.lockscreen-control-button i{
    font-size: 2rem;
}


.app-bar{
    position: fixed;
    bottom: -100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.app-bar-img-wrapper{
    /*background-color: #575757;*/
    /*border-radius: 20px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apps{
    background-color: #7272729e;
    border-radius: 20px;
    display: flex;
}

.app-bar-img{
    width: 5rem;
    animation-duration: 2s;
    cursor: pointer;
}

.app-light{
    width: 6px;
    height: 6px;
    border-radius: 100px;
    margin-bottom: 2px;
}


.app-running{
    background-color: #cacaca;
}


.terminal-wrapper{
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    /*justify-content: center;*/
    /*align-content: center;*/
    /*flex-direction: column;*/
}

.terminal-main{
    width: 900px;
    height: 600px;
    background-color: #2c2c2c;
    margin: 8rem auto auto auto!important;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
    animation-duration: 0.5s;
    transition: ease-in-out 0.5s;
}

.terminal-header{
    width: 100%;
    height: 30px;
    background-color: #4A4A4A;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.terminal-header .row{
    height: 100%;
}

.terminal-header .col-4{
    display: flex;
    align-items: center;
}

.terminal-header-name{
    justify-content: center;
    color: #bfbfbf;
    font-weight: 700;
    font-size: 13px;
    cursor: default;
}

.terminal-header-button{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 100px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2c2c2c;
}

.terminal-header-button-group{
    display: flex;
    align-items: center;
}

.terminal-header-button-group:hover .button-icon{
    display: block;
}

.terminal-header-button i{
    display: none;
    font-size: 14px;
}

.close-button{
    background-color: #ff6157;
}

.mini-button{
    background-color: #ffc12f;
}

.full-button{
    background-color: #2acb42;
}


@-webkit-keyframes bounce_app {
    0% { -webkit-transform: translateY(0); }
    100% { -webkit-transform: translateY(-20px); }
}

@-moz-keyframes bounce_app {
    0% { -moz-transform: translateY(0); }
    100% { -moz-transform: translateY(-20px); }
}
.app-bar-img-animation{
    -webkit-animation: bounce_app .4s 4 alternate ease-out;
    -moz-animation: bounce_app .4s 4 alternate ease-out;
}

.terminal-body{
    font-family: 'Roboto Mono', monospace !important;
    color: white;
    width: 100%;
    height: calc(100% - 30px);
    padding: 5px 10px;
    overflow-y: scroll;
}
.terminal-body p{
    margin-bottom: 0;
    display: inline-block;
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 14px;
}


.terminal-body::-webkit-scrollbar {
    width: 10px;
    background: #4A4A4A;
}

/* Handle */
.terminal-body::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #888;
}

/* Handle on hover */
.terminal-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.input-indicator{
    border-left: 10px solid white;
    display: inline;
}

.terminal-hidden{
    transform: translateY(28rem) scale(0);
    opacity: 0;
}

.terminal-full{
    margin: 29px auto auto auto !important;
    width: 100%;
}